.image {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

.image img {
  height: 220px;
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
  filter: brightness(70%);
}

.homeTitle {
  border-radius: 25px;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  width: max-content;
}
